@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

.section {
  @include make-xs-column(12);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.home {
  @media (min-width: $screen-md-max) {
    background-image: url(/assets/images/ww-smiling.jpg);
  };
}

.office-locations{
  background-image: url(/assets/images/ww_logo.jpg);
}

.tweets li {
  list-style: none;
  margin-bottom: 10px;
}

.footer {
  list-style: none;

  li {
    display: inline-block;
  }
}
