@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  background: #a59ba6;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 42px;
}

.navbar {
  margin-bottom: 10px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 40px;
  }
}

.navbar-default {
  background: #4e424c;

  .navbar-brand {
    font-family: 'Old Standard TT', Georgia, serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    @media (min-width: $screen-md-min) {
      font-size: 29px;
    }
  }
}

main {
  @extend .container;
}

.section {
  @include make-xs-column(12);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $screen-md-min) {
    border: 1px solid #bbb;
  }

  &__image {
    @media (min-width: $screen-md-min) {
      height: 650px;
      margin-bottom: 40px;
    }
  }

  img {
    margin-top: 15px;
  }
}

.box {
  @include make-xs-column(12);
  color: white;
  padding: 10px;
  @media (min-width: $screen-md-min) {
    margin-top: 150px;
    margin-left: 40px;
    width: 395px;
    height: 310px;
  }

  &__right {
    float: right;
    @media (min-width: $screen-md-min) {
      margin-top: 150px;
      margin-right: 40px;
    }
  }

  &__border {
    position: relative;
    display: block;
    min-height: 100%;
    padding: 0 0 20px 0;
    z-index: 1;
    @media (min-width: $screen-md-min) {
      border: 1px solid #fff;
      padding: 15px;
    }
  }

  &__star {
    font-size: 20px !important; // hack, but need to override Material Icons
    color: #ea7b7a;
  }

  h2 {
    color: #fff;
  }

  &__copy {
    font-family: "Roboto", Arial, sans-serif;
    color: #2b2b2b;
    font-size: 16px;
    text-align: center;
  }

  &__cta {
      &:link, &:visited {
        color: #fff;
        font-size: 12px;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
      }
      &:hover, &:active {
        color: #f59f9f;
        border-bottom: none;
        text-decoration: none;
      }
  }

  &__transparency {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a59ba6;
    opacity: .5;
    z-index: 0;
    top: 0;
    left: 0;
  }
}


.home {
  @media (min-width: $screen-md-min) {
    background-image: url(/assets/images/ww-smiling.jpg);
  };
}

//About section

.about {
  @media (min-width: $screen-md-min) {
    background-image: url(/assets/images/ww-about.jpg);
  };
}

//Office Location section

.locations{
  @media (min-width: $screen-md-min) {
    background-image: url(/assets/images/ww-america.jpg);
  };
}

.mini-box {
  @include make-xs-column(12);
}

//News section

.news {
  @media (min-width: $screen-md-min) {
    padding: 40px 20px;
  };
}

//Twitter & Press Release section

.feed {
  @include make-xs-column(12);
  @include make-md-column(3);
  h3 {
    margin-top: 0;
  }
}

.press {
  @include make-xs-column(12);
  @include make-md-column(3);
}

.post {
  background: #eee;
  padding: 7px;
  min-height: 300px;
  & img {
    height: 150px;
  }
}

//footer

.footer {
  @include make-xs-column(12);
  list-style: none;

  li {
    @media (min-width: $screen-md-min) {
      display: inline-block;
      padding: 20px;
    };
  }

  a:hover {
    text-decoration: none;
  }
}

.social-networks {
  @media (min-width: $screen-md-min) {
    padding: 20px;
  };
}
